<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" width="40px" class="logo" alt="Chalopadhe" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> -->
        </ul>
    </div>
</nav>
</div>

    <!-- Start Masthead -->
    <section class="masthead js-masthead-height pb-0">
        <div class="masthead__style-overlay"></div>
        <div class="masthead__style-watter">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="masthead__content masthead__content-mtop">
                            <h1 class="masthead__content-title"> Digital Personal Study Room</h1>
                            <p class="masthead__content-subtitle">Free Digital platform which covers a lot more than standard classroom syllabus to enable thoughtful learning</p>

                            <div class="masthead__content-action">
                                <a href="javascript:void(0)"
                                    class="btn btn-orange btn-rounded btn-icon-left btn-lg js-video-button"
                                    data-video-id="TKnufs85hXk"><i class="fa fa-play"></i> Video Tour</a>
                                <a href="#" class="btn btn-primary btn-rounded btn-icon-left btn-lg"><i
                                        class="fa fa-download"></i> Download</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-center">
                        <div class="masthead__style-watter--image">
                            <div class="masthead__style-watter--icon flyIn">
                                <img src="assets/images/masthead-icon.png" class="img-fluid" alt="Icon" />
                            </div>
                            <img src="assets/images/businessman-meditating.png" class="img-fluid" alt="Business Man" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Masthead -->

    <!-- Start Section -->
    <section class="section pb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="section__heading section__heading-center">Component of your Study Room</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center mb-40">
                    <p>
                         Study room designed not only to offer a standard subject learning but a holistic environment to experiment learning. An intelligent approach to learn topic with sufficient examples and thought provoking exercises.
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-gift column-icon"></span>
                        <h4>Courses</h4>
                        <p>
                            All standard classroom courses are covere. The learning is supported with videos, notes, NCERT books and online exams.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-paper-plane column-icon"></span>
                        <h4>Video</h4>
                        <p>
                            All topics are supported with videos lecture from top educators. Every topics will have five top educators video lecture.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-cogs column-icon"></span>
                        <h4>Notes</h4>
                        <p>
                            Hand written lecture notes from best educators are avaliable for easy learning and quick reasoning.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-flask column-icon"></span>
                        <h4>Test</h4>
                        <p>
                            Every topics is accomplished with online test. Tests are objective and subjective in nature. The result will be shared after marking.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-tree column-icon"></span>
                        <h4>Let's Innovate</h4>
                        <p>
                        Practical exercise doable at home to experience learning. These exercise will unfold concept in the minds of learner.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-hard-disk column-icon"></span>
                        <h4>Coding</h4>
                        <p>
                            Introductry exercise to get familier with coding. Implement concepts through codes, get help from experts. 
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-book column-icon"></span>
                        <h4>Manual Guide</h4>
                        <p>
                            Unum liber commune in mel, ut pri tritani propriae menandri. Cum et magna porro intellegat.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-chart column-icon"></span>
                        <h4>Progress Report</h4>
                        <p>
                            A progress bar for every subjects presents a --------- time status to the learner.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="section__column section__column-left">
                        <span class="icon icon-device column-icon"></span>
                        <h4>Fully responsive</h4>
                        <p>
                            Unum liber commune in mel, ut pri tritani propriae menandri. Cum et magna porro intellegat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <div class="section__divider section__divider-right d-none d-lg-block"></div>

    <!-- Start Section -->
    <section class="section pt-40 pb-0 sm-clear-pt">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <img src="assets/images/using-software.png" class="img-fluid" alt="Using Software" />
                </div>
                <div class="col-lg-4 align-self-center mb-40">
                    <h2>About Study Room</h2>
                    <p>
                       Get all content related to a topic on a single page from videos, notes, test series and online test. An dynamic progress bar helps to track your efforts.
                    </p>
                    <a href="#" class="btn btn-primary btn-rounded">Learn more </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <div class="section__divider section__divider-left"></div>

    <!-- Start Section -->
    <section class="section pt-0 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-4 mb-40">
                    <img src="assets/images/businessman-with-laptop.png" class="img-fluid"
                        alt="Business Man with Laptop" />
                </div>
                <div class="col-lg-4 align-self-center mb-40">
                    <h2>Vision and Mission</h2>
                    <p>
                        Et odio honestatis ius. Exerci numquam consequuntur no mei. Ut sed ornatus tibique, fabellas
                        pertinax est cu. Te odio omittam mea, ea tractatos dissentiunt complectitur nec.
                    </p>
                    <a href="#" class="btn btn-primary btn-rounded">Learn more </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <div class="section__divider section__divider-right"></div>

    <!-- Start Section -->
    <section class="section pt-0 pb-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-40">
                    <img src="assets/images/lady-with-handphone.png" class="img-fluid" alt="Lady with handphone" />
                </div>
                <div class="col-lg-4 align-self-center mb-40">
                    <h2>Other Software Product</h2>
                    <p>
                        Et odio honestatis ius. Exerci numquam consequuntur no mei. Ut sed ornatus tibique, fabellas
                        pertinax est cu. Te odio omittam mea, ea tractatos dissentiunt complectitur nec.
                    </p>
                    <a href="#" class="btn btn-primary btn-rounded">Learn more </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Section -->
    <section class="section p0">
        <div class="container">
            <div class="section__cta section__cta-column section__cta-offset">
                <div calss="row">
                    <div class="col-md-12">
                        <h2>Let's try it's free trail for 30 days</h2>
                    </div>
                </div>
                <div calss="row">
                    <div class="col-md-8 offset-lg-2">
                        <fieldset class="section__cta-subscribe">
                            <form name="ctaSubscribe" action="">
                                <input type="text" class="section__cta-subscribe-input"
                                    placeholder="Enter your email address" />
                                <button type="button"
                                    class="btn btn-rounded btn-white section__cta-subscribe-button btn-icon-right">Subscribe
                                    <i class="fa fa-long-arrow-right"></i></button>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Section -->
    <section class="section section__gray-watter--bottom">
        <div class="container">
            <div class="row mt-100">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="section__heading section__heading-center">User testimoni</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center mb-20">
                    <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']" > 
                    <!-- <div class="owl-carousel js-owl-testimoni"> -->
                        <!-- Start testimoni 01 -->
                        <div class="item">
                            <div class="testimoni">
                                <blockquote>Mei ne audire fabulas. Ea mea quas putent, sit an lucilius
                                    <strong>repudiandae</strong>, mei ut appetere electram maluisset.</blockquote>
                                <p class="testimoni__author"><a href="#">Alexandro Oddol</a></p>
                                <a href="#" class="testimoni__avatar"><img src="./assets/images/testimoni-avatar01.png"
                                        class="testimoni__avatar-image" alt="Alexandro Oddol" /></a>
                            </div>
                        </div>
                        <!-- End testimoni 01 -->

                        <!-- Start testimoni 02 -->
                        <div class="item">
                            <div class="testimoni">
                                <blockquote>Ea est molestie tincidunt, eam partem facete at. <strong>Mea in
                                        modo</strong> dolores concludaturque, euismod liberavisse</blockquote>
                                <p class="testimoni__author"><a href="#">Alexandro Oddol</a></p>
                                <a href="#" class="testimoni__avatar"><img src="./assets/images/testimoni-avatar02.png"
                                        class="testimoni__avatar-image" alt="Alexandro Oddol" /></a>
                            </div>
                        </div>
                        <!-- End testimoni 02 -->

                        <!-- Start testimoni 03 -->
                        <div class="item">
                            <div class="testimoni">
                                <blockquote>Homero sapientem per id, id sonet veniam commune vis, <strong>ei nam
                                        nonumy</strong> fuisset pro primis consequat.</blockquote>
                                <p class="testimoni__author"><a href="#">Alexandro Oddol</a></p>
                                <a href="#" class="testimoni__avatar"><img src="./assets/images/testimoni-avatar03.png"
                                        class="testimoni__avatar-image" alt="Alexandro Oddol" /></a>
                            </div>
                        </div>
                        <!-- End testimoni 03 -->
                    <!-- </div> -->
                    </owl-carousel>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="divider"></div>
                    <!-- <div class="owl-active-nav"> -->
                        <!-- <div class="owl-carousel js-owl-clients"> -->
                            <!-- Start client 01 -->
                            <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_01-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_01.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 01 -->

                            <!-- Start client 02 -->
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_02-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_02.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 02 -->

                            <!-- Start client 03 -->
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_03-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_03.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 03 -->

                            <!-- Start client 04 -->
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_04-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_04.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 04 -->

                            <!-- Start client 05 -->
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_06-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_06.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 05 -->

                            <!-- Start client 06 -->
                            <div class="item">
                                <a href="#" class="client">
                                    <img src="assets/images/clients/client_05-hover.png" class="client_logo-hover"
                                        alt="Client name" />
                                    <img src="assets/images/clients/client_05.png" class="client_logo"
                                        alt="Client name" />
                                </a>
                            </div>
                            <!-- End client 06 -->
                        </owl-carousel>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Section -->
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <h2 class="section__heading section__heading-center">Recommended reading</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <!-- <div class="owl-carousel js-owl-article"> -->
                        <!-- Start testimoni 01 -->
                        <owl-carousel [options]="SlideOptions" [carouselClasses]="['owl-theme', 'sliding']">
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 23</a>
                                    <h4 class="article__card-title"><a href="#">Sit in pertinax petentium est ne
                                            mucius</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-01.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-man.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Ence
                                                iif</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 01 -->

                        <!-- Start testimoni 02 -->
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 10</a>
                                    <h4 class="article__card-title"><a href="#">Mei ne audire fabulas ea mea quas
                                            putent</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-02.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-women.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Rinna
                                                noor</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 02 -->

                        <!-- Start testimoni 03 -->
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 23</a>
                                    <h4 class="article__card-title"><a href="#">Sit in pertinax petentium est ne
                                            mucius</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-03.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-man.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Ence
                                                iif</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 03 -->

                        <!-- Start testimoni 01 -->
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 23</a>
                                    <h4 class="article__card-title"><a href="#">Sit in pertinax petentium est ne
                                            mucius</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-01.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-man.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Ence
                                                iif</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 01 -->

                        <!-- Start testimoni 02 -->
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 10</a>
                                    <h4 class="article__card-title"><a href="#">Mei ne audire fabulas ea mea quas
                                            putent</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-02.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-women.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Rinna
                                                noor</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 02 -->

                        <!-- Start testimoni 03 -->
                        <div class="item">
                            <div class="article__card">
                                <div class="article__card-heading">
                                    <a href="#" class="article__card-label">News & Article</a>
                                    <a href="#" class="article__card-comment"><i class="fa fa-comments"></i> 23</a>
                                    <h4 class="article__card-title"><a href="#">Sit in pertinax petentium est ne
                                            mucius</a></h4>
                                </div>
                                <div class="article__card-image">
                                    <img src="assets/images/blog/thumbnail/img-blog-thumbnail-03.jpg" class="img-fluid"
                                        alt="Image article" />
                                </div>
                                <div class="article__card-footer">
                                    <div class="article__card-author">
                                        <img src="assets/images/avatar-man.jpg" class="article__card-avatar"
                                            alt="Author Avatar" />
                                        <p><strong>Posted by :</strong> <i class="fa fa-user"></i> <a href="#">Ence
                                                iif</a></p>
                                        <a href="#">29 Des 2018</a>
                                    </div>
                                    <a href="#" class="article__card-action btn-link">Read more</a>
                                </div>
                            </div>
                        </div>
                        <!-- End testimoni 03 -->
                    
                    
                    </owl-carousel>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Section -->
    <section class="section section__cta pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4">
                    <div class="column__boxed">
                        <span class="icon icon-help column__boxed-icon"></span>
                        <h5 class="column__boxed-title">Get Support</h5>
                        <p>
                            Homero sapientem per id, id sonet veniam commune vis, ei nam non
                        </p>
                        <a href="#" class="btn-link">Go to support</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="column__boxed">
                        <span class="icon icon-users column__boxed-icon"></span>
                        <h5 class="column__boxed-title">Our comumnity</h5>
                        <p>
                            Homero sapientem per id, id sonet veniam commune vis, ei nam non
                        </p>
                        <a href="#" class="btn-link">Go to comumnity</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <div class="column__boxed">
                        <span class="icon icon-question column__boxed-icon"></span>
                        <h5 class="column__boxed-title">F.A.Q</h5>
                        <p>
                            Homero sapientem per id, id sonet veniam commune vis, ei nam non
                        </p>
                        <a href="#" class="btn-link">Go to FAQ</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Section -->

    <!-- Start Back to top -->
    <div class="back-to-top js-back-to-top">
        <span class="fa fa-angle-double-up back-to-top__icon"></span>
        <span class="back-to-top__text">TOP</span>
    </div>
    <!-- End Back to top -->

    <!-- Start Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__widget">
                        <img src="assets/images/aer.png" class="footer__widget-logo" alt="Smooth" />
                        <p>Association for Reforms, Industrial Estate, Varanasi, PIN: 221106</p>
                        <div class="footer__widget-contact">
                            <i class="fa fa-phone"></i>
                            <p>(+91)-7080909137</p>
                        </div>
                        <div class="footer__widget-contact">
                            <i class="fa fa-envelope"></i>
                            <p>contact@aerglobal.org</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-sm-3">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Product</h4>
                        <ul class="footer__widget-linklist">
                            <li><a href="#">ChaloPadhe</a></li>
                            <li><a href="#">AER Publications</a></li>
                            <li><a href="#">R&D</a></li>
                            <li><a href="#">Future Scope Database</a></li>
                            <li><a href="#">AR/VR</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-sm-3">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Company</h4>
                        <ul class="footer__widget-linklist">
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Career</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-2 col-sm-3">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Resources</h4>
                        <ul class="footer__widget-linklist">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">F.A.Q</a></li>
                            <li><a href="#">Testimoni</a></li>
                            <li><a href="#">Site map</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-6 col-lg-3 col-sm-3">
                    <div class="footer__widget">
                        <h4 class="footer__widget-title">Follow us</h4>
                        <ul class="footer__widget-network">
                            <li><a href="#" class="footer__widget-network-link"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="footer__widget-network-link"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="footer__widget-network-link"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" class="footer__widget-network-link"><i class="fa fa-youtube-play"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="footer__subfooter">
                        <div class="row">
                            <div class="col-md-6">
                                <p>© <a href="#">www.aerglobal.org</a> | Association for Educational Reforms, India 2020. All Rights Reserved.</p>
                            </div>
                            <div class="col-md-6 text-right">
                                <ul class="footer__subfooter-liststyle">
                                    <li><a href="#">Terms Of Service</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Help</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    
